<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GigHub</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GigHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Add a Gig", "Create", "Gigs")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GigHub</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
    <script type="text/noti-template" id="notifications-template">
        <ul class="notifications">
            <%
                _.each(notifications, function(noti){
                if(noti.type == 1){%>
                <li><b><%=noti.gig.artist.name %></b> has canceled the gig at <b><%= moment(noti.gig.dateTime).format("D MMM 'YY HH:MM") %></b> on <%= noti.gig.venue %> </li>
            <%  }

                else if(noti.type == 2){
                    var changes = [], originalValues = [], newValues = [];

                    if(noti.originalDateTime != noti.gig.dateTime){
                        changes.push('date/time');
                        originalValues.push( moment(noti.originalDateTime).format("D MMM 'YY HH:mm") );
                        newValues.push( moment(noti.gig.dateTime).format("D MMM 'YY HH:mm"));
                    }

                    if(noti.originalVenue != noti.gig.venue){
                        changes.push('venue');
                        originalValues.push(noti.originalVenue);
                        newValues.push(noti.gig.venue);
                    }
            %>
                    <li><b><%= noti.gig.artist.name %></b> has changed the <%= changes.join('and') %> of the gig from <b><%= originalValues.join('/') %></b> to <b><%= newValues.join('/') %></b> </li>

            <%    }
              });
            %>
        </ul>
    </script>
    <script>
        $(function () {
            $.getJSON("/api/notifications", function (notifications) {
                if (notifications.length === 0) {
                    //$("#js-globe-icon").addClass("text-muted");
                    return;
                }

                $(".js-notification-count")
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated bounceInDown");

                $(".notifications").popover({
                    html: true,
                    title: "Notifications",
                    content: function () {
                        let compiled = _.template($("#notifications-template").html());
                        return compiled({ notifications: notifications });
                    },
                    placement: "bottom",
                    template: '<div class="popover popover-notifications" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                }).on("shown.bs.popover",function() {
                    $.post("/api/notifications/markasread")
                        .done(function() {
                            $(".js-notification-count")
                                .text("")
                                .addClass("hide");
                        });
                });
            });
        });
    </script>
</body>
</html>